<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet", href="css/main.css")
    body
        include ../includes/block-1-cupcake
  



    