@charset "UTF-8";
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

/* HTML5 display definitions
	 @mixin ========================================================================= */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

template {
  display: none; }

[hidden] {
  display: none; }

/* Links
	 @mixin ========================================================================= */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
	 @mixin ========================================================================= */
abbr[title] {
  border-bottom: 1px dotted; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
	 @mixin ========================================================================= */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/* Grouping content
	 @mixin ========================================================================= */
figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
	 @mixin ========================================================================= */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit; }

button {
  overflow: visible; }

button {
  text-transform: none; }

html input[type="button"],
button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
            appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/* Tables
	 @mixin ========================================================================= */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: Malina;
  /* Имя шрифта */
  src: url("../fonts/Malina/Malina.ttf"); }

body {
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.center-content {
  width: 1100px;
  padding: 0 10px;
  margin: 0 auto; }

.s-block-1 {
  background: -webkit-gradient(linear, left bottom, left top, from(#e14144), color-stop(30%, #b82429));
  background: -webkit-linear-gradient(bottom, #e14144, #b82429 30%);
  background: linear-gradient(to top, #e14144, #b82429 30%);
  min-height: 100vh; }
  .s-block-1 .s-header {
    padding: 25px 15px 0px 15px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .s-block-1 .s-header .wrap-nav-user {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }

ul.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-right: 28px;
  width: 517px; }

li.menu__item {
  padding-right: 20px;
  padding-left: 43px;
  position: relative; }
  li.menu__item:first-child {
    padding-left: 0px; }

li.menu__item:hover span.arrow::before {
  background: #ffaf28;
  -webkit-transform: rotate(-120deg);
      -ms-transform: rotate(-120deg);
          transform: rotate(-120deg); }

li.menu__item:hover span.arrow::after {
  background: #ffaf28;
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }

li.menu__item:hover a.menu__link {
  color: #ffaf28; }

li.menu__item:hover ul.comand__list {
  opacity: 1;
  left: -25%; }

a.menu__link_hover-comand {
  padding-bottom: 25px; }

a.menu__link {
  text-decoration: none;
  color: white;
  line-height: 23.5px; }

span.arrow {
  position: absolute;
  top: 50%;
  margin-top: -2.5px;
  right: 0px; }
  span.arrow::before, span.arrow::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 5px;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotate(-55deg);
        -ms-transform: rotate(-55deg);
            transform: rotate(-55deg); }
  span.arrow::after {
    top: 0;
    left: 3px;
    background: white;
    -webkit-transform: rotate(55deg);
        -ms-transform: rotate(55deg);
            transform: rotate(55deg); }

.user-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  width: 108px; }

.user,
.search {
  width: 42px;
  height: 42px;
  background: rgba(185, 205, 220, 0.1) url("../img/1-block/user.png") no-repeat center;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.user {
  background: rgba(185, 205, 220, 0.1) url("../img/1-block/user.png") no-repeat center; }

.search {
  background: rgba(185, 205, 220, 0.1) url("../img/1-block/search.png") no-repeat center; }

.slider-sweets-conteiner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.ingredients-conteiner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 130px; }

.ingredients {
  margin-left: 20px;
  margin-top: 50px; }

span.ingredients__title {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 60px;
  font-size: 15px; }

a.ingredients__link {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  left: 50%;
  margin-left: -21px;
  width: 42px;
  height: 42px;
  background: rgba(185, 205, 220, 0.1) url("../img/1-block/miksher.png") no-repeat center;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  a.ingredients__link:hover {
    -webkit-transition: 0.7s;
    transition: 0.7s;
    background: #ffaf28 url("../img/1-block/miksher.png") no-repeat center; }
  a.ingredients__link:hover + table.ingredients__table {
    opacity: 1;
    -webkit-transition: 0.7s;
    transition: 0.7s; }

.shelf-life {
  min-height: 33px;
  margin-bottom: 95px; }

span.shelf-life__text-self {
  display: block;
  font-size: 13px;
  color: #edd4d4;
  text-align: center; }

span.shelf-life__text-clock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 30px;
  font-family: Malina; }

.images-sweets {
  width: 555px; }

.images__capckace {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }

.container__description-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.description {
  width: 415px; }

h2.description__title {
  font-size: 62px;
  padding: 0;
  margin: 0;
  font-family: Malina;
  line-height: 65px;
  padding: 18px 0 40px 0; }

p.description__text {
  font-size: 15px;
  line-height: 21px;
  padding: 0;
  margin: 0; }

span.description__price {
  margin: 0;
  padding: 0;
  font-size: 62px;
  font-family: Malina; }

a.button {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #a4151c;
  width: 107px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 48px;
  height: 15px;
  padding: 14px 0px;
  background: #fca211;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin-top: 50px; }

a.button:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background: #641a00;
  color: #fca211; }

table.ingredients__table {
  opacity: 0;
  top: -140px;
  left: 110px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  width: 380px;
  color: black;
  padding: 20px 0px;
  position: relative; }
  table.ingredients__table::before {
    position: absolute;
    content: '';
    top: 70px;
    left: -37.15px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    border: 20px solid transparent;
    /* Прозрачные границы */
    border-top: 15px solid rgba(255, 255, 255, 0.9); }

td.ingredients__name {
  padding: 10px 0;
  padding-left: 70px;
  position: relative;
  text-align: left; }
  td.ingredients__name::before {
    position: absolute;
    content: '';
    width: 21px;
    height: 21px; }
  td.ingredients__name.ingredients__muka::before {
    background: url("../img/1-block/muka.png") no-repeat center;
    top: 40px;
    left: 37px; }
  td.ingredients__name.ingredients__egg::before {
    background: url("../img/1-block/egg.png") no-repeat center;
    top: 7px;
    left: 37px;
    width: 22px; }
  td.ingredients__name.ingredients__saxar::before {
    background: url("../img/1-block/saxar.png") no-repeat center;
    top: 10px;
    left: 37px;
    width: 22px;
    height: 22px; }
  td.ingredients__name.ingredients__maslo::before {
    background: url("../img/1-block/maslo.png") no-repeat center;
    top: 8px;
    left: 37px;
    width: 22px;
    height: 22px; }
  td.ingredients__name.ingredients__milk::before {
    background: url("../img/1-block/moloko.png") no-repeat center;
    top: 10px;
    left: 37px;
    width: 22px;
    height: 22px; }

td.ingredients__muka {
  padding-top: 40px; }

td.ingredients__milk {
  padding-bottom: 40px; }

td.ingredients__gram-muka_padding-top {
  padding-top: 30px; }

.ingredients__gram-muka_padding-bottom {
  padding-bottom: 30px; }

td.ingredients__gram {
  padding-right: 60px; }

ul.comand__list {
  -webkit-transition: opacity  0.5s;
  transition: opacity  0.5s;
  opacity: 0;
  position: absolute;
  top: 45px;
  z-index: 1000;
  left: -9999px;
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 40px 0;
  width: 230px; }
  ul.comand__list::before {
    position: absolute;
    top: -33px;
    left: 50%;
    margin-left: -18px;
    content: '';
    border: 20px solid transparent;
    border-bottom: 13px solid white; }

li.comand__item {
  text-align: left;
  padding-left: 45px;
  margin-top: 25px; }
  li.comand__item:first-child {
    margin-top: 0px; }

a.comand__link {
  color: #575757;
  text-decoration: none;
  position: relative; }
  a.comand__link::before {
    position: absolute;
    content: '';
    top: 0px;
    left: -45px;
    border: 8px solid transparent;
    border-top: 8px solid #ffaf28;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0; }
  a.comand__link:hover::before {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 1; }
  a.comand__link:hover {
    color: #303030;
    font-weight: bold; }

.navigation {
  width: 208px;
  margin: 0 auto; }

ul.navigation__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0; }

li.navigation__item {
  width: 8px;
  height: 8px;
  background: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer; }
