body {
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.center-content {
  width: 1100px;
  padding: 0 10px;
  margin: 0 auto; }

.s-block-1 {
  background: -webkit-gradient(linear, left bottom, left top, from(#e14144), color-stop(30%, #b82429));
  background: -webkit-linear-gradient(bottom, #e14144, #b82429 30%);
  background: linear-gradient(to top, #e14144, #b82429 30%);
  min-height: 100vh; }
  .s-block-1 .s-header {
    padding: 25px 15px 0px 15px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .s-block-1 .s-header .wrap-nav-user {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
