// Переводим px в rem
@function reem($px){
    @return $px / 16px + 0rem;
}
@mixin PFCentroSlabProBol($style: regular) {
	@if $style == bold {
		font-family: 'PFCentroSlabProBold';
	}

	@if $style == regular {
		font-family: 'PFCentroSlabProMedium';
	}
}
@mixin RalewayRegula($style: regular) {
	@if $style == bold {
		font-family: 'RalewaySemiBold';
	}

	@if $style == regular {
		font-family: 'RalewayRegular';
	}
}
