table.ingredients__table{
    opacity: 0;
    top: -140px;
    left: 110px;
    border-radius: 10px;
    background: rgba(255,255,255,0.9);
    width: 380px;
    color: black;
    padding: 20px 0px;
    
    position: relative;
    &::before{
        position: absolute;
        content: '';
        top: 70px;
        left: -37.15px;
        transform: rotate(90deg);
        border: 20px solid transparent; /* Прозрачные границы */
        border-top: 15px solid rgba(255,255,255,0.9);
    }
    
}

td.ingredients__name{
    padding: 10px 0;
    padding-left: 70px;
    position: relative;
    text-align: left;
    &::before{
        position: absolute;
        content: '';
        width:  21px;
        height: 21px;
    }
    &.ingredients__muka::before{
        background:url('../img/1-block/muka.png') no-repeat center;
        top: 40px;
        left: 37px;
    }
    &.ingredients__egg::before{
        background:url('../img/1-block/egg.png') no-repeat center;
        top: 7px;
        left: 37px;
        width: 22px;
    }
    &.ingredients__saxar::before{
        background:url('../img/1-block/saxar.png') no-repeat center;
        top: 10px;
        left: 37px;
        width: 22px;
        height: 22px;
    }
     &.ingredients__maslo::before{
        background:url('../img/1-block/maslo.png') no-repeat center;
        top: 8px;
        left: 37px;
        width: 22px;
        height: 22px;
    }
    &.ingredients__milk::before{
        background:url('../img/1-block/moloko.png') no-repeat center;
        top: 10px;
        left: 37px;
        width: 22px;
        height: 22px;
    }
}
td.ingredients__muka{
    padding-top: 40px;
}
td.ingredients__milk{
    padding-bottom: 40px;
}
td.ingredients__gram-muka_padding-top{
    padding-top: 30px;
}
.ingredients__gram-muka_padding-bottom{
    padding-bottom: 30px;
}
td.ingredients__gram{
    padding-right: 60px;
}