
ul.comand__list{
    transition: opacity  0.5s;
    opacity: 0;
    position: absolute;
    top: 45px;
    z-index: 1000;
    left: -9999px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 15px;
    padding: 40px 0;
    width: 230px;
    &::before{
        position: absolute;
        top: -33px;
        left: 50%;
        margin-left: -18px;
        content: '';
        border: 20px solid transparent;
        border-bottom: 13px solid white;
    }
}
li.comand__item{
    text-align: left;
    padding-left: 45px;
    margin-top: 25px;
    &:first-child{
        margin-top: 0px;
    }
}
a.comand__link{
    color: #575757;
    text-decoration: none;
    position: relative;
    
    &::before{
        position: absolute;
        content: '';
        top: 0px;
        left: -45px;
        border: 8px solid transparent; 
        border-top: 8px solid #ffaf28;
        transform: rotate(-90deg);
        opacity: 0;
       
    }
    &:hover::before{
        transition: 0.5s;
        opacity: 1;
    }
    &:hover{
        color: #303030;
        font-weight: bold;
    }
    
}
