.navigation{
    width: 208px;
    margin: 0 auto;

}
ul.navigation__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}
li.navigation__item{
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}