// <==========//====== Список меню в хедаре ==============\\=========>
ul.menu__list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-right: 28px;
    width: 517px;
}
// <==========//====== Элементы списка ==============\\=========>
li.menu__item{
    padding-right: 20px;
    padding-left: 43px;
    position: relative;
    &:first-child{
        padding-left: 0px;
    }
}
// <==========//====== Hover эфекты ==============\\=========>
li.menu__item:hover span.arrow::before{
     background: #ffaf28;
     transform: rotate(-120deg);
}
li.menu__item:hover span.arrow::after{
     background: #ffaf28;
     transform: rotate(120deg);
}
li.menu__item:hover a.menu__link{
     color: #ffaf28;
}
li.menu__item:hover ul.comand__list{
     opacity: 1;
     left: -25%;
 }
a.menu__link_hover-comand{
    padding-bottom: 25px;
}
// <==========//====== Сылки списка ==============\\=========>
a.menu__link{
    text-decoration: none;
    color: white;
    line-height: 23.5px;
}
// <==========//====== Декоративный элемент списка,стрелка ==============\\=========>
span.arrow{
    position: absolute;
    top: 50%;
    margin-top: -2.5px;
    right: 0px;
    &::before,
    &::after{
        position: absolute;
        content: '';
        width: 2px;
        height: 5px;
        top: 0;
        left: 0;
        background: white;
        transform: rotate(-55deg);
    }
    &::after{
        top: 0;
        left: 3px;
        background: white;
        transform: rotate(55deg);
    }
}