.slider-sweets-conteiner{
    display: flex;
    justify-content: space-between;
}
// <==========//====== Ингридиенты ==============\\=========>
.ingredients-conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 130px;
}
.ingredients{
      margin-left: 20px;
      margin-top: 50px;
}

span.ingredients__title{
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 60px;
    font-size: 15px;
}
a.ingredients__link{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    left: 50%;
    margin-left: -21px;
    width: 42px;
    height: 42px;
    background: rgba(185,205,220,.10) url('../img/1-block/miksher.png') no-repeat center;
    border-radius: 50%;
    &:hover{
        transition: 0.7s;
        background: #ffaf28 url('../img/1-block/miksher.png') no-repeat center;
    }
    &:hover + table.ingredients__table{
          opacity: 1;
          transition: 0.7s;
      }
}
// <==========//====== срок хранения ==============\\=========>
.shelf-life{
    min-height: 33px;
    margin-bottom: 95px;
    
}
span.shelf-life__text-self{
    display: block;
    font-size: 13px;
    color: #edd4d4;
    text-align: center;
}
// <==========//====== вермя в часах хранения ==============\\=========>

span.shelf-life__text-clock{
    display: flex;
    font-size: 24px;
    line-height: 30px;
    font-family: Malina;
}



// <==========//====== Картинка сладостей ==============\\=========>
.images-sweets{
    width: 555px;

}
.images__capckace{
    display: flex;
    margin: 0 auto;
}

// <==========//====== Описание сладостей .description ==============\\=========>
.container__description-price{
    display: flex;
}
.description{
    width: 415px;
}
h2.description__title{
    font-size: 62px;
    padding: 0;
    margin: 0;
    font-family: Malina;
    line-height: 65px;
    padding:18px 0 40px 0;
}
p.description__text{
    font-size: 15px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    
}


.container__description-price{
    
}
span.description__price{
    margin: 0;
    padding: 0;
    font-size: 62px;
    font-family: Malina;
}
a.button{
     text-align: center;
     display: block;
     text-decoration: none;
     color: #a4151c;
     width: 107px;
     font-size: 14px;
     font-weight: bold;
     margin-left: 48px;
     height: 15px;
     padding: 14px 0px;
     background: #fca211;
     border-radius: 20px;
     margin-top: 50px; 
}
a.button:hover{
    transition: 1s;
    background: #641a00;
    color: #fca211;
    
}