.user-block{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 108px;
}
.user,
.search{
    width: 42px;
    height: 42px;
    background: rgba(185,205,220,.10) url('../img/1-block/user.png') no-repeat center;
    border-radius: 50%;
}
.user{
    background: rgba(185,205,220,.10) url('../img/1-block/user.png') no-repeat center;
}  
.search{
     background: rgba(185,205,220,.10) url('../img/1-block/search.png') no-repeat center;
}