body{
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.center-content{ 
    width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
}

.s-block-1{
   background: linear-gradient(to top, #e14144 , #b82429 30%);
   min-height: 100vh;
   .s-header{
        padding: 25px 15px 0px 15px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        .wrap-nav-user{
            display: flex;
        }
   }
}