.navigation {
  width: 208px;
  margin: 0 auto; }

ul.navigation__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0; }

li.navigation__item {
  width: 8px;
  height: 8px;
  background: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer; }
