ul.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-right: 28px;
  width: 517px; }

li.menu__item {
  padding-right: 20px;
  padding-left: 43px;
  position: relative; }
  li.menu__item:first-child {
    padding-left: 0px; }

li.menu__item:hover span.arrow::before {
  background: #ffaf28;
  -webkit-transform: rotate(-120deg);
      -ms-transform: rotate(-120deg);
          transform: rotate(-120deg); }

li.menu__item:hover span.arrow::after {
  background: #ffaf28;
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }

li.menu__item:hover a.menu__link {
  color: #ffaf28; }

li.menu__item:hover ul.comand__list {
  opacity: 1;
  left: -25%; }

a.menu__link_hover-comand {
  padding-bottom: 25px; }

a.menu__link {
  text-decoration: none;
  color: white;
  line-height: 23.5px; }

span.arrow {
  position: absolute;
  top: 50%;
  margin-top: -2.5px;
  right: 0px; }
  span.arrow::before, span.arrow::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 5px;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotate(-55deg);
        -ms-transform: rotate(-55deg);
            transform: rotate(-55deg); }
  span.arrow::after {
    top: 0;
    left: 3px;
    background: white;
    -webkit-transform: rotate(55deg);
        -ms-transform: rotate(55deg);
            transform: rotate(55deg); }
