.slider-sweets-conteiner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.ingredients-conteiner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 130px; }

.ingredients {
  margin-left: 20px;
  margin-top: 50px; }

span.ingredients__title {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 60px;
  font-size: 15px; }

a.ingredients__link {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  left: 50%;
  margin-left: -21px;
  width: 42px;
  height: 42px;
  background: rgba(185, 205, 220, 0.1) url("../img/1-block/miksher.png") no-repeat center;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  a.ingredients__link:hover {
    -webkit-transition: 0.7s;
    transition: 0.7s;
    background: #ffaf28 url("../img/1-block/miksher.png") no-repeat center; }
  a.ingredients__link:hover + table.ingredients__table {
    opacity: 1;
    -webkit-transition: 0.7s;
    transition: 0.7s; }

.shelf-life {
  min-height: 33px;
  margin-bottom: 95px; }

span.shelf-life__text-self {
  display: block;
  font-size: 13px;
  color: #edd4d4;
  text-align: center; }

span.shelf-life__text-clock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 30px;
  font-family: Malina; }

.images-sweets {
  width: 555px; }

.images__capckace {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }

.container__description-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.description {
  width: 415px; }

h2.description__title {
  font-size: 62px;
  padding: 0;
  margin: 0;
  font-family: Malina;
  line-height: 65px;
  padding: 18px 0 40px 0; }

p.description__text {
  font-size: 15px;
  line-height: 21px;
  padding: 0;
  margin: 0; }

span.description__price {
  margin: 0;
  padding: 0;
  font-size: 62px;
  font-family: Malina; }

a.button {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #a4151c;
  width: 107px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 48px;
  height: 15px;
  padding: 14px 0px;
  background: #fca211;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin-top: 50px; }

a.button:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background: #641a00;
  color: #fca211; }
