.user-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  width: 108px; }

.user,
.search {
  width: 42px;
  height: 42px;
  background: rgba(185, 205, 220, 0.1) url("../img/1-block/user.png") no-repeat center;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.user {
  background: rgba(185, 205, 220, 0.1) url("../img/1-block/user.png") no-repeat center; }

.search {
  background: rgba(185, 205, 220, 0.1) url("../img/1-block/search.png") no-repeat center; }
