.s-block-1
    .center-content
        header.s-header
            .logo
                a.logo__link(href="" height="66" width="283")
                    img.logo__img(src="img/1-block/logo.png", alt="")
            .wrap-nav-user
                nav.s-nav
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href="") Сладости
                            span.arrow
                        li.menu__item 
                            a.menu__link(href="") Доставка
                            span.arrow
                        li.menu__item 
                            a.menu__link(href="") Компания
                            span.arrow
                        li.menu__item 
                            a.menu__link.menu__link_hover-comand(href="") Команда
                                span.arrow
                            ul.comand__list
                                li.comand__item
                                    a.comand__link(href="") Тони Ройстер
                                li.comand__item
                                     a.comand__link(href="") Ричард Джейс
                                li.comand__item
                                    a.comand__link(href="") Марти Модстер
                                li.comand__item
                                    a.comand__link(href="") Тони ройстер
                                li.comand__item
                                    a.comand__link(href="") Риард Джейс
                                li.comand__item 
                                    a.comand__link(href="") Марти Модстер
                                li.comand__item
                                    a.comand__link.comand__link(href="") Тони Ройстер
                .user-block
                    a(href="")
                        .user 
                    a(href="")
                        .search
        .s-slider-sweets
            .center-content
                .slider-sweets-conteiner
                    .ingredients-conteiner
                        .ingredients
                            span.ingredients__title Ингредиенты
                                a.ingredients__link(href="#")
                                table.ingredients__table
                                    tr.ingredients__tr
                                        td.ingredients__name.ingredients__muka  мука пшеничная
                                        td.ingredients__gram.ingredients__gram-muka_padding-top 200 г.
                                    tr.ingredients__tr
                                        td.ingredients__name.ingredients__egg яйце продукты 
                                        td.ingredients__gram 3 шт.
                                    tr.ingredients__tr
                                        td.ingredients__name.ingredients__saxar  сахарный песок 
                                        td.ingredients__gram 20 г.
                                    tr.ingredients__tr
                                        td.ingredients__name.ingredients__maslo масло сливочное
                                        td.ingredients__gram 50 г.
                                    tr.ingredients__tr
                                        td.ingredients__name.ingredients__milk молоко сгущеное
                                        td.ingredients__gram.ingredients__gram-muka_padding-bottom 100 г.
                        .shelf-life
                            span.shelf-life__text-self срок хранения
                            span.shelf-life__text-clock 120 часов
                    .images-sweets
                        img.images__capckace(src="img/1-block/capcacke.png", alt="")
                    .description
                        h2.description__title Sweet Cupcake
                        p.description__text В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури
                        .container__description-price
                            span.description__price 199 р
                            a.button(href="") Заказать
                .navigation
                            ul.navigation__list
                                li.navigation__item
                                
                                li.navigation__item
                                
                                li.navigation__item
                                
                                li.navigation__item
                                
                                li.navigation__item
                                    
                                li.navigation__item
        
                    
                          